# Datos e Imágenes (PARA PRIVACIDAD SUMAMENTE ESTRICTA)
data/raw/
*.png
*.jpg
*.jpeg
*.mp4

# Python y entornos virtuales
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

.DS_Store
Thumbs.db